# Dependency directories
node_modules/

# Cypress folders
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Allure Reports
allure-results/
allure-report/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables & Secrets
.env
.env.local

# OS files
.DS_Store
Thumbs.db