{{- range $name, $config := .Values.services }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $name }}-service
spec:
  selector:
    app: {{ $name }}
  ports:
  - protocol: TCP
    port: {{ $config.port }}
    targetPort: {{ $config.containerPort }}
{{- end }}